<app-header></app-header>

<div class="flex overflow-hidden bg-white pt-14">
  <app-side-nav></app-side-nav>

  <div
    id="main-content"
    class="relative h-full w-full overflow-y-auto bg-gray-50 lg:ml-64"
  >
    <main>
      <div class="px-4 pt-6">
        <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
          <h3 class="mb-10 text-xl font-bold leading-none">
            Lista de Empresas
          </h3>
          <div class="block w-full overflow-x-auto">
            <div class="container mx-auto mt-5">
              <app-usuarios></app-usuarios>
            </div>
          </div>
        </div>
      </div>
    </main>

    <app-btn-cadastrar-empresa></app-btn-cadastrar-empresa>

    <app-footer></app-footer>
  </div>
</div>
