<header class="fixed z-30 w-full border-b bg-[#002266]">
  <div class="px-4 py-4 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <a href="/" class="flex items-center text-xl font-bold lg:ml-2.5">
          <img
            src="/assets/images/logo-residuum-padrao-negativo-fundo-cinza.png"
            class="h-8"
            alt="Residuum Logo"
          />
          <!-- <span class="self-center whitespace-nowrap">Residuum</span> -->
        </a>
      </div>
      <div class="flex items-center">
        <app-sessao-usuario
          class="ml-5 mr-3 hidden items-center rounded-lg bg-black px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-500 focus:ring-4 sm:inline-flex"
        ></app-sessao-usuario>
      </div>
    </div>
  </div>
</header>
