<div class="my-4 grid w-full grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
  <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <h3 class="text-base font-normal text-gray-500">
          Toneladas de<br />
          resíduos <br />
          sólidos gerados
        </h3>
      </div>
      <div class="m-auto w-0 flex-1 items-center text-base">
        <iframe
          title="Tons of solid waste generated"
          src="https://www.theworldcounts.com/embeds/counters/116?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
          height="100"
          width="300"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <h3 class="text-base font-normal text-gray-500">
          Toneladas de CO2 <br />
          emitidas na <br />
          atmosfera
        </h3>
      </div>
      <div
        class="ml-5 flex w-0 flex-1 items-center justify-end text-base font-bold text-green-500"
      >
        <iframe
          title="Tons of CO2 emitted into the atmosphere"
          src="https://www.theworldcounts.com/embeds/counters/23?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
          style="border: none"
          height="100"
          width="300"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <h3 class="text-base font-normal text-gray-500">
          Toneladas de <br />
          resíduos <br />
          despejados
        </h3>
      </div>
      <div
        class="ml-5 flex w-0 flex-1 items-center justify-end text-base font-bold text-red-500"
      >
        <iframe
          title="Tons of waste dumped"
          src="https://www.theworldcounts.com/embeds/counters/63?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
          style="border: none"
          height="100"
          width="300"
        ></iframe>
      </div>
    </div>
  </div>
</div>
