<div class="mb-4 h-full rounded-lg bg-white p-4 shadow sm:p-6">
  <div class="mb-4 flex items-center justify-between">
    <h3 class="text-xl font-bold leading-none">Top 10</h3>
    <a
      href="#"
      class="inline-flex items-center rounded-lg p-2 text-sm font-medium text-[#64a23d] hover:bg-gray-100"
    >
      Ver tudo
    </a>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      <li class="py-3 sm:py-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8 rounded-full"
              src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
              alt="Neil image"
            />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium">Cristian Garcia</p>
            <p class="truncate text-sm text-gray-500">
              garcia.ac.cristian@gmail.com
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold">
            12 toneladas
          </div>
        </div>
      </li>
      <li class="py-3 sm:py-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8 rounded-full"
              src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
              alt="Neil image"
            />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium">Cristian Garcia</p>
            <p class="truncate text-sm text-gray-500">
              garcia.ac.cristian@gmail.com
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold">
            11 toneladas
          </div>
        </div>
      </li>
      <li class="py-3 sm:py-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8 rounded-full"
              src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
              alt="Neil image"
            />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium">Cristian Garcia</p>
            <p class="truncate text-sm text-gray-500">
              garcia.ac.cristian@gmail.com
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold">
            8 toneladas
          </div>
        </div>
      </li>
      <li class="py-3 sm:py-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8 rounded-full"
              src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
              alt="Neil image"
            />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium">Cristian Garcia</p>
            <p class="truncate text-sm text-gray-500">
              garcia.ac.cristian@gmail.com
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold">
            3 toneladas
          </div>
        </div>
      </li>
      <li class="pb-0 pt-3 sm:pt-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8 rounded-full"
              src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
              alt="Neil image"
            />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium">Cristian Garcia</p>
            <p class="truncate text-sm text-gray-500">
              garcia.ac.cristian@gmail.com
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold">
            2.5 toneladas
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
