<div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
  <h3 class="mb-10 text-xl font-bold leading-none">Resíduos Coletados</h3>
  <div class="block w-full overflow-x-auto">
    <table class="w-full border-collapse items-center bg-transparent">
      <thead>
        <tr>
          <th
            class="whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
          >
            Tipo
          </th>
          <th
            class="whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
          >
            Quantidade
          </th>
          <th
            class="min-w-140-px whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
          >
            Porcentagem %
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            Lixo orgânico
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            5,649 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">30%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-orange-300"
                    style="width: 30%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            Papel e papelão
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            4,025 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">24.9%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-blue-500"
                    style="width: 24.9%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            plástico
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            3,105 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">10.8%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-teal-400"
                    style="width: 10.8%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            metal
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            1251 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">13.9%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-pink-600"
                    style="width: 13.9%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            vidro
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            734 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">9.5%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-indigo-600"
                    style="width: 9.5%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
          >
            Lixo não reciclável
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
          >
            734 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">11.9%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-gray-500"
                    style="width: 11.9%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="text-gray-500">
          <th
            class="whitespace-nowrap border-t-0 p-4 pb-0 text-left align-middle text-sm font-normal"
          >
            Lixo perigoso
          </th>
          <td
            class="whitespace-nowrap border-t-0 p-4 pb-0 align-middle text-xs font-medium"
          >
            456 t
          </td>
          <td
            class="whitespace-nowrap border-t-0 p-4 pb-0 align-middle text-xs"
          >
            <div class="flex items-center">
              <span class="mr-2 text-xs font-medium">11.9%</span>
              <div class="relative w-full">
                <div class="h-2 w-full rounded-sm bg-gray-200">
                  <div
                    class="h-2 rounded-sm bg-orange-500"
                    style="width: 11.9%"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
