<app-header></app-header>

<div class="flex overflow-hidden bg-white pt-14">
  <app-side-nav></app-side-nav>

  <div
    id="main-content"
    class="relative h-full w-full overflow-y-auto bg-gray-50 lg:ml-64"
  >
    <main>
      <div class="px-4 pt-6">
        <div
          class="grid w-full grid-cols-1 gap-4 xl:grid-cols-2 2xl:grid-cols-3"
        >
          <div
            class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8 2xl:col-span-2"
          >
            <section>
              <h3 class="mb-2 text-xl font-bold">Mapeamento</h3>

              <div class="flex">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159035.44230484957!2d-60.04950494143963!3d-3.0446589072395316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c1bc8b37647b7%3A0x2b485c9ff765a9cc!2sManaus%2C%20AM!5e1!3m2!1spt-BR!2sbr!4v1695494127550!5m2!1spt-BR!2sbr"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>

                <div class="m-4">
                  <ul>
                    <li>Azul: papel/papelão</li>
                    <li>Vermelho: plástico</li>
                    <li>Verde: vidro</li>
                    <li>Amarelo: metal</li>
                    <li>Marrom: orgânico</li>
                    <li>Cinza: não reciclável</li>
                    <li>Preto: madeira</li>
                    <li>Laranja: resíduos perigosos</li>
                    <li>
                      Branco: resíduos ambulatoriais e de serviços de saúde
                    </li>
                    <li>Roxo: resíduos radioativos</li>
                  </ul>
                </div>
              </div>
            </section>
          </div>

          <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
            <div class="mb-4 flex items-center justify-between">
              <div>
                <h3 class="mb-2 text-xl font-bold">Quantidade de clientes</h3>
                <span class="text-base font-normal text-gray-500"
                  >Esta é uma lista quantitativa de usuários cadastrados.</span
                >
              </div>
              <div class="flex-shrink-0">
                <a
                  href="#"
                  class="rounded-lg p-2 text-sm font-medium text-[#64a23d] hover:bg-gray-100"
                  >Ver tudo</a
                >
              </div>
            </div>

            <div class="mt-8 flex flex-col">
              <div class="overflow-x-auto rounded-lg">
                <div class="inline-block min-w-full align-middle">
                  <div class="overflow-hidden shadow sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th
                            scope="col"
                            class="p-4 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                          >
                            TIPO
                          </th>
                          <th
                            scope="col"
                            class="p-4 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                          >
                            STATUS
                          </th>
                          <th
                            scope="col"
                            class="p-4 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                          >
                            QUANTIDADE
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white">
                        <tr>
                          <td class="whitespace-nowrap p-4 text-sm font-normal">
                            Residências
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-normal text-gray-500"
                          >
                            Ativos
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-semibold"
                          >
                            3
                          </td>
                        </tr>
                        <tr class="bg-gray-50">
                          <td
                            class="rounded-left whitespace-nowrap rounded-lg p-4 text-sm font-normal"
                          >
                            Condomínios
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-normal text-gray-500"
                          >
                            Ativos
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-semibold"
                          >
                            72
                          </td>
                        </tr>
                        <tr>
                          <td class="whitespace-nowrap p-4 text-sm font-normal">
                            Empresas
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-normal text-gray-500"
                          >
                            Ativas
                          </td>
                          <td
                            class="whitespace-nowrap p-4 text-sm font-semibold"
                          >
                            21
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="mt-4 grid w-full grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3"
        >
          <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <h3 class="text-base font-normal text-gray-500">
                  Toneladas de<br />
                  resíduos <br />
                  sólidos gerados
                </h3>
              </div>
              <div class="m-auto w-0 flex-1 items-center text-base">
                <iframe
                  title="Tons of solid waste generated"
                  src="https://www.theworldcounts.com/embeds/counters/116?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
                  height="100"
                  width="300"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <h3 class="text-base font-normal text-gray-500">
                  Toneladas de CO2 <br />
                  emitidas na <br />
                  atmosfera
                </h3>
              </div>
              <div
                class="ml-5 flex w-0 flex-1 items-center justify-end text-base font-bold text-green-500"
              >
                <iframe
                  title="Tons of CO2 emitted into the atmosphere"
                  src="https://www.theworldcounts.com/embeds/counters/23?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
                  style="border: none"
                  height="100"
                  width="300"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <h3 class="text-base font-normal text-gray-500">
                  Toneladas de <br />
                  resíduos <br />
                  despejados
                </h3>
              </div>
              <div
                class="ml-5 flex w-0 flex-1 items-center justify-end text-base font-bold text-red-500"
              >
                <iframe
                  title="Tons of waste dumped"
                  src="https://www.theworldcounts.com/embeds/counters/63?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
                  style="border: none"
                  height="100"
                  width="300"
                ></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="my-4 grid grid-cols-1 xl:gap-4 2xl:grid-cols-2">
          <div class="mb-4 h-full rounded-lg bg-white p-4 shadow sm:p-6">
            <div class="mb-4 flex items-center justify-between">
              <h3 class="text-xl font-bold leading-none">Top 10</h3>
              <a
                href="#"
                class="inline-flex items-center rounded-lg p-2 text-sm font-medium text-[#64a23d] hover:bg-gray-100"
              >
                Ver tudo
              </a>
            </div>
            <div class="flow-root">
              <ul role="list" class="divide-y divide-gray-200">
                <li class="py-3 sm:py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-8 w-8 rounded-full"
                        src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
                        alt="Neil image"
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <p class="truncate text-sm font-medium">
                        Cristian Garcia
                      </p>
                      <p class="truncate text-sm text-gray-500">
                        garcia.ac.cristian@gmail.com
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-base font-semibold"
                    >
                      12 toneladas
                    </div>
                  </div>
                </li>
                <li class="py-3 sm:py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-8 w-8 rounded-full"
                        src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
                        alt="Neil image"
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <p class="truncate text-sm font-medium">
                        Cristian Garcia
                      </p>
                      <p class="truncate text-sm text-gray-500">
                        garcia.ac.cristian@gmail.com
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-base font-semibold"
                    >
                      11 toneladas
                    </div>
                  </div>
                </li>
                <li class="py-3 sm:py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-8 w-8 rounded-full"
                        src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
                        alt="Neil image"
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <p class="truncate text-sm font-medium">
                        Cristian Garcia
                      </p>
                      <p class="truncate text-sm text-gray-500">
                        garcia.ac.cristian@gmail.com
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-base font-semibold"
                    >
                      8 toneladas
                    </div>
                  </div>
                </li>
                <li class="py-3 sm:py-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-8 w-8 rounded-full"
                        src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
                        alt="Neil image"
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <p class="truncate text-sm font-medium">
                        Cristian Garcia
                      </p>
                      <p class="truncate text-sm text-gray-500">
                        garcia.ac.cristian@gmail.com
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-base font-semibold"
                    >
                      3 toneladas
                    </div>
                  </div>
                </li>
                <li class="pb-0 pt-3 sm:pt-4">
                  <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-8 w-8 rounded-full"
                        src="https://scontent.fpll7-1.fna.fbcdn.net/v/t1.6435-9/131029039_838591126906773_5946040643380565640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HtaWo_7bpYIAX8zJ7US&_nc_ht=scontent.fpll7-1.fna&oh=00_AfBULQyOTj3tma0VbIqIN5j3S_R73HopIr04flNr16QJvw&oe=65331A86"
                        alt="Neil image"
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <p class="truncate text-sm font-medium">
                        Cristian Garcia
                      </p>
                      <p class="truncate text-sm text-gray-500">
                        garcia.ac.cristian@gmail.com
                      </p>
                    </div>
                    <div
                      class="inline-flex items-center text-base font-semibold"
                    >
                      2.5 toneladas
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8">
            <h3 class="mb-10 text-xl font-bold leading-none">
              Resíduos Coletados
            </h3>
            <div class="block w-full overflow-x-auto">
              <table class="w-full border-collapse items-center bg-transparent">
                <thead>
                  <tr>
                    <th
                      class="whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
                    >
                      Tipo
                    </th>
                    <th
                      class="whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
                    >
                      Quantidade
                    </th>
                    <th
                      class="min-w-140-px whitespace-nowrap border-l-0 border-r-0 bg-gray-50 px-4 py-3 text-left align-middle text-xs font-semibold uppercase text-gray-700"
                    >
                      Porcentagem %
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-100">
                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      Lixo orgânico
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      5,649 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">30%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-orange-300"
                              style="width: 30%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      Papel e papelão
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      4,025 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">24.9%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-blue-500"
                              style="width: 24.9%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      plástico
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      3,105 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">10.8%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-teal-400"
                              style="width: 10.8%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      metal
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      1251 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">13.9%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-pink-600"
                              style="width: 13.9%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      vidro
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      734 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">9.5%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-indigo-600"
                              style="width: 9.5%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 px-4 text-left align-middle text-sm font-normal"
                    >
                      Lixo não reciclável
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs font-medium"
                    >
                      734 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 px-4 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">11.9%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-gray-500"
                              style="width: 11.9%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="text-gray-500">
                    <th
                      class="whitespace-nowrap border-t-0 p-4 pb-0 text-left align-middle text-sm font-normal"
                    >
                      Lixo perigoso
                    </th>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 pb-0 align-middle text-xs font-medium"
                    >
                      456 t
                    </td>
                    <td
                      class="whitespace-nowrap border-t-0 p-4 pb-0 align-middle text-xs"
                    >
                      <div class="flex items-center">
                        <span class="mr-2 text-xs font-medium">11.9%</span>
                        <div class="relative w-full">
                          <div class="h-2 w-full rounded-sm bg-gray-200">
                            <div
                              class="h-2 rounded-sm bg-orange-500"
                              style="width: 11.9%"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div>
