<li>
  <button
    type="button"
    class="group flex w-full items-center rounded-lg p-2 text-base font-normal text-white transition duration-75 hover:bg-gray-100 hover:text-black"
    aria-controls="dropdown-feira-do-polo-2023"
    data-collapse-toggle="dropdown-feira-do-polo-2023"
  >
    <span class="ml-3 flex-1 whitespace-nowrap text-left"
      >Feira do Polo 2023
    </span>
  </button>
  <ul id="dropdown-feira-do-polo-2023" class="hidden space-y-2 py-2">
    <li>
      <a
        href="dashboard/empresas"
        class="group list-item w-full items-center rounded-lg p-2 pl-11 text-base font-normal text-white transition duration-75 hover:bg-gray-100 hover:text-black"
      >
        Visão Geral
      </a>
    </li>

    <li>
      <a
        href="/dashboard/clientes"
        class="group flex w-full items-center rounded-lg p-2 pl-11 text-base font-normal text-white transition duration-75 hover:bg-gray-100 hover:text-black"
      >
        Participantes</a
      >
    </li>
  </ul>
</li>
