<section id="login" class="h-screen md:flex">
  <div
    class="relative hidden w-1/2 items-center justify-around overflow-hidden bg-[#64a23d] bg-gradient-to-tr md:flex"
  >
    <div class="m-16">
      <img
        src="/assets/images/logo-residuum-texto-branco.png"
        alt="logo residuum"
        class="w-5/5"
      />

      <br />
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center bg-white py-10 md:w-1/2"
  >
    <h2 class="mb-1 text-2xl font-bold text-gray-800">Bem Vindo!</h2>
    <p class="mb-7 text-sm font-normal text-gray-600">Entre com sua conta.</p>
    <form>
      <div class="mb-4">
        <div class="flex items-center rounded-2xl border-2 px-3 py-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
            />
          </svg>
          <input
            class="ml-2 rounded-2xl border-none pl-2 outline-none"
            type="text"
            name="nome_usuario"
            id="nome_usuario"
            placeholder="Usuário"
          />
        </div>
      </div>

      <div class="mb-4">
        <div class="flex items-center rounded-2xl border-2 px-3 py-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            />
          </svg>
          <input
            class="ml-2 rounded-2xl border-none pl-2 outline-none"
            type="email"
            name="email_usuario"
            id="email_usuario"
            placeholder="E-mail"
          />
        </div>
      </div>

      <div class="mb-4">
        <div class="flex items-center rounded-2xl border-2 px-3 py-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
          <input
            class="ml-2 rounded-2xl border-none pl-2 outline-none"
            type="password"
            name="senha_usuario"
            id="senha_usuario"
            placeholder="Senha"
          />
        </div>
      </div>

      <button
        type="submit"
        class="mt-4 w-full rounded-md bg-[#002266] py-2 font-bold text-white hover:bg-[#64a23d]"
      >
        Login
      </button>

      <span class="cursor-pointer text-sm text-black hover:underline"
        >Esqueceu a senha?</span
      >
    </form>
  </div>
</section>
