<div>
  <form (ngSubmit)="onSubmit()" #cadastrarForm="ngForm">
    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="nome_fantasia"
          placeholder="nome_fantasia"
          name="nome_fantasia"
          [(ngModel)]="formData.nome_fantasia"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="cnpj"
          placeholder="cnpj"
          name="cnpj"
          [(ngModel)]="formData.cnpj"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="cep"
          placeholder="cep"
          name="cep"
          [(ngModel)]="formData.cep"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="bairro"
          placeholder="bairro"
          name="bairro"
          [(ngModel)]="formData.bairro"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="rua"
          placeholder="rua"
          name="rua"
          [(ngModel)]="formData.rua"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="numero"
          placeholder="numero"
          name="numero"
          [(ngModel)]="formData.numero"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="razao_social"
          placeholder="razao_social"
          name="razao_social"
          [(ngModel)]="formData.razao_social"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="ceo"
          placeholder="ceo"
          name="ceo"
          [(ngModel)]="formData.ceo"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="email"
          placeholder="email"
          name="email"
          [(ngModel)]="formData.email"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="flex items-center rounded-2xl border-2 px-3 py-2">
        <input
          type="text"
          class="ml-2 rounded-2xl border-none pl-2 outline-none"
          id="telefone"
          placeholder="telefone"
          name="telefone"
          [(ngModel)]="formData.telefone"
          required
        />
      </div>
    </div>

    <div
      class="flex items-center space-x-2 rounded-b border-t border-gray-200 p-6 dark:border-gray-600"
    >
      <button
        data-modal-hide="defaultModal"
        type="submit"
        class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Cadastrar
      </button>
      <button
        data-modal-hide="defaultModal"
        type="button"
        class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-600"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
