<table datatable [dtOptions]="dtOptions" class="row-border hover table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome Fantasia</th>
      <th>CNPJ</th>
      <th>CEP</th>
      <th>Bairro</th>
      <th>Rua</th>
      <th>Número</th>
      <th>Razão Social</th>
      <th>CEO</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <!-- Removi o ngFor pois estava duplicando a lista, e não é preciso usá-lo pois o próprio datatable já exibe a lista... -->
    <!-- <tr *ngFor="let empresa of empresas"> 
      <td>{{ empresa.id }}</td>
      <td>{{ empresa.nome_fantasia }}</td>
      <td>{{ empresa.cnpj }}</td>
      <td>{{ empresa.cep }}</td>
      <td>{{ empresa.bairro }}</td>
      <td>{{ empresa.rua }}</td>
      <td>{{ empresa.numero }}</td>
      <td>{{ empresa.razao_social }}</td>
      <td>{{ empresa.ceo }}</td>
      <td>{{ empresa.email }}</td>
      <td>{{ empresa.telefone }}</td>
      <td>
        <div class="inline-flex">
          <button
            class="py2 rounded border border-blue-500 bg-transparent px-4 font-semibold text-blue-700 hover:border-transparent hover:bg-blue-500 hover:text-white"
            (click)="editarEmpresa(empresa)"
          >
            Editar
          </button>
          <button
            class="text-red-700:border-transparent rounded border border-red-500 bg-transparent px-4 py-2 font-semibold hover:bg-red-500 hover:text-white"
            (click)="excluirEmpresa(empresa)"
          >
            Excluir
          </button>
        </div>
      </td>
    </tr> -->
  </tbody>
</table>
