<table datatable [dtOptions]="dtOptions" class="row-border table text-left">
  <thead>
    <tr class="">
      <th class="px-4 py-4">ID</th>
      <th class="px-4 py-4">Nome Fantasia</th>
      <th class="px-4 py-4">CNPJ</th>
      <th class="px-4 py-4">CEP</th>
      <th class="px-4 py-4">Bairro</th>
      <th class="px-4 py-4">Rua</th>
      <th class="px-4 py-4">Número</th>
      <th class="px-4 py-4">Razão Social</th>
      <th class="px-4 py-4">Email</th>
      <th class="px-4 py-4">Telefone</th>
      <th class="px-4 py-4">Ações</th>
    </tr>
  </thead>
  <tbody class="text-gray-800">
    <!-- Removi o ngFor pois estava duplicando a lista, e não é preciso usá-lo pois o próprio datatable já exibe a lista... -->
    <!-- <tr *ngFor="let empresa of empresas"> 
      <td>{{ empresa.id }}</td>
      <td>{{ empresa.nome_fantasia }}</td>
      <td>{{ empresa.cnpj }}</td>
      <td>{{ empresa.cep }}</td>
      <td>{{ empresa.bairro }}</td>
      <td>{{ empresa.rua }}</td>
      <td>{{ empresa.numero }}</td>
      <td>{{ empresa.razao_social }}</td>
      <td>{{ empresa.ceo }}</td>
      <td>{{ empresa.email }}</td>
      <td>{{ empresa.telefone }}</td>
      <td>
        <div class="inline-flex">
          <button
            class="py2 rounded border border-blue-500 bg-transparent px-4 font-semibold text-blue-700 hover:border-transparent hover:bg-blue-500 hover:text-white"
            (click)="editarEmpresa(empresa)"
          >
            Editar
          </button>
          <button
            class="text-red-700:border-transparent rounded border border-red-500 bg-transparent px-4 py-2 font-semibold hover:bg-red-500 hover:text-white"
            (click)="excluirEmpresa(empresa)"
          >
            Excluir
          </button>
        </div>
      </td>
    </tr> -->
  </tbody>
</table>
