<div class="grid w-full grid-cols-1 gap-4 xl:grid-cols-2 2xl:grid-cols-3">
  <div class="rounded-lg bg-white p-4 shadow sm:p-6 xl:p-8 2xl:col-span-2">
    <section>
      <h3 class="mb-2 text-xl font-bold">Mapeamento</h3>

      <div class="flex">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159035.44230484957!2d-60.04950494143963!3d-3.0446589072395316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c1bc8b37647b7%3A0x2b485c9ff765a9cc!2sManaus%2C%20AM!5e1!3m2!1spt-BR!2sbr!4v1695494127550!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <div class="m-4">
          <ul>
            <li>Azul: papel/papelão</li>
            <li>Vermelho: plástico</li>
            <li>Verde: vidro</li>
            <li>Amarelo: metal</li>
            <li>Marrom: orgânico</li>
            <li>Cinza: não reciclável</li>
            <li>Preto: madeira</li>
            <li>Laranja: resíduos perigosos</li>
            <li>Branco: resíduos ambulatoriais e de serviços de saúde</li>
            <li>Roxo: resíduos radioativos</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <app-total-clientes></app-total-clientes>
</div>
