
<!-- filtro - inicio -->

<div class="filter-container">
    <div class="date-input">
      <label for="startDate">Data de Início </label>
      <input type="date" id="startDate" name="startDate">
    </div>
  
    <div class="date-input">
      <label for="endDate">Data de Fim </label>
      <input type="date" id="endDate" name="endDate">
    </div>
  
    <button class="consult-button">Consultar</button>
  </div>
  
<!-- filtro - final -->



<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>