<app-header></app-header>

<main>
  <div class="flex overflow-hidden bg-white pt-14">
    <app-side-nav></app-side-nav>

    <div class="relative h-full w-full overflow-y-auto bg-gray-50 lg:ml-64">
      <div class="px-4 pt-4">
     

        <app-mapa-residuos-zona></app-mapa-residuos-zona>

        <div class="my-4 grid grid-cols-1 xl:gap-4 2xl:grid-cols-2">
          <app-total-clientes></app-total-clientes>
        </div>

        <div class="my-4 grid grid-cols-1 xl:gap-4 2xl:grid-cols-2">
          <app-ranking-clientes></app-ranking-clientes>

          <app-ranking-residuos></app-ranking-residuos>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</main>
