<li>
  <button
    type="button"
    class="group flex w-full items-center rounded-lg p-2 text-base font-normal text-white transition duration-75 hover:bg-gray-100 hover:text-black"
    aria-controls="dropdown-eventos"
    data-collapse-toggle="dropdown-eventos"
  >
    <span class="ml-3 flex-1 whitespace-nowrap text-left">Eventos</span>
    <svg
      aria-hidden="true"
      class="h-6 w-6"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <ul id="dropdown-eventos" class="hidden space-y-2 py-2">
    <li>
      <app-feira-do-polo-2023></app-feira-do-polo-2023>
    </li>
  </ul>
</li>
